<template>
  <el-dialog :close-on-click-modal="false" :title="form.{{ID_FIELD}} ? $t('common.editBtn') : $t('common.addBtn')"
             width="600" draggable v-model="visible">
    <el-form :model="form" :rules="dataRules" formDialogRef label-width="90px" ref="dataFormRef" v-loading="loading">
{{FORM_ITEMS}}
    </el-form>
    <template #footer>
			<span class="dialog-footer">
				<el-button @click="visible = false">{{ $t('common.cancelButtonText') }}</el-button>
				<el-button @click="onSubmit" type="primary" :disabled="loading">{{ $t('common.confirmButtonText') }}</el-button>
			</span>
    </template>
  </el-dialog>
</template>

<script lang="ts" name="{{CLASS_NAME}}Dialog" setup>
import { useMessage } from '/@/hooks/message';
import { addObj, getObj, putObj } from '/@/api/admin/{{API_FILE}}';
import { useI18n } from 'vue-i18n';

const emit = defineEmits(['refresh']);

const { t } = useI18n();

// 定义变量内容
const dataFormRef = ref();
const visible = ref(false);
const loading = ref(false);

// 提交表单数据
const form = reactive({
{{FORM_FIELDS}}
});

// 定义校验规则
const dataRules = reactive({
{{VALIDATION_RULES}}
});

// 打开弹窗
const openDialog = (id: {{ID_TYPE_TS}}) => {
  visible.value = true;
  form.{{ID_FIELD}} = {{ID_DEFAULT_VALUE}};

  // 重置表单数据
  nextTick(() => {
    dataFormRef.value?.resetFields();
  });

  // 获取数据
  if (id) {
    form.{{ID_FIELD}} = id;
    getData(id);
  }
};

// 提交
const onSubmit = async () => {
  const valid = await dataFormRef.value.validate().catch(() => {
  });
  if (!valid) return false;

  try {
    loading.value = true;
    form.{{ID_FIELD}} ? await putObj(form) : await addObj(form);
    useMessage().success(t(form.{{ID_FIELD}} ? 'common.editSuccessText' : 'common.addSuccessText'));
    visible.value = false;
    emit('refresh');
  } catch (err: any) {
    useMessage().error(err.msg);
  } finally {
    loading.value = false;
  }
};

// 初始化表单数据
const getData = (id: {{ID_TYPE_TS}}) => {
  getObj(id).then((res: any) => {
    Object.assign(form, res.data);
  });
};

// 暴露变量
defineExpose({
  openDialog,
});
</script>
